# Auto detect text files and perform LF normalization
*        text=auto

*.cs     text diff=csharp
*.frm    text eol=crlf
*.vbp    text eol=crlf

*.csproj text merge=union
*.sln    text merge=union eol=crlf
